@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ##################### Common Colors ##################### */
.primary-text {
  color: #22c55e;
}
.secondary-text {
  color: #3b83f6;
}
.primary-bg {
  background: #22c55e;
}
.secondary-bg {
  background: #3b83f6;
}

.secondary-bg-hover:hover {
  background: #3b83f6;
  color: #fff;
  transition: 300ms;
  --tw-bg-opacity: 0.2;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ##################### Main Container ##################### */
.main-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
